DSL/DuckDuckGo翻译+LLM二次翻译.yml
app:
  description: "\u4E2D\u8BD1\u82F1\uFF0C\u52062\u6B65\u8FDB\u884C\u7FFB\u8BD1\u3002\
    1\u3001\u4F20\u7EDF\u7684\u7FFB\u8BD1\u5F15\u64CE\u7FFB\u8BD1\uFF1B2\u3001LLM\u6A21\
    \u578B\u6307\u51FA\u9519\u8BEF\u30013\u3001\u610F\u8BD1\u3002\u5373\u8282\u7701\
    \u4E86token\uFF0C\u4E5F\u63D0\u9AD8\u7FFB\u8BD1\u51C6\u786E\u6027\u3002"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "DuckDuckGo\u7FFB\u8BD1+LLM\u4E8C\u6B21\u7FFB\u8BD1"
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1721107953425-source-1721107972339-target
      source: '1721107953425'
      sourceHandle: source
      target: '1721107972339'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1721107972339-source-1721107989661-target
      source: '1721107972339'
      sourceHandle: source
      target: '1721107989661'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1721107989661-source-1721108151465-target
      source: '1721107989661'
      sourceHandle: source
      target: '1721108151465'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: content
          max_length: 50000
          options: []
          required: true
          type: paragraph
          variable: content
      height: 90
      id: '1721107953425'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: duckduckgo
        provider_name: duckduckgo
        provider_type: builtin
        selected: true
        title: "DuckDuckGo \u7FFB\u8BD1"
        tool_configurations:
          translate_to: en
        tool_label: "DuckDuckGo \u7FFB\u8BD1"
        tool_name: ddgo_translate
        tool_parameters:
          query:
            type: mixed
            value: '{{#1721107953425.content#}}'
        type: tool
      height: 90
      id: '1721107972339'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1.1
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: 3b488a37-c31c-4537-86df-3bfa8da1ab70
          role: system
          text: "## \u89D2\u8272\n\u4F60\u662F\u4E00\u4F4D\u79D1\u7814\u8BBA\u6587\
            \u5BA1\u7A3F\u5458\uFF0C\u64C5\u957F\u5199\u4F5C\u9AD8\u8D28\u91CF\u7684\
            \u82F1\u6587\u79D1\u7814\u8BBA\u6587\u3002\u8BF7\u4F60\u5E2E\u6211\u51C6\
            \u786E\u4E14\u5B66\u672F\u6027\u5730\u5C06\u4EE5\u4E0B\u4E2D\u6587\u7FFB\
            \u8BD1\u6210\u82F1\u6587\uFF0C\u98CE\u683C\u4E0E\u82F1\u6587\u79D1\u7814\
            \u8BBA\u6587\u4FDD\u6301\u4E00\u81F4\u3002\n## \u89C4\u5219\uFF1A\n- \u8F93\
            \u5165\u683C\u5F0F\u4E3A Markdown \u683C\u5F0F\uFF0C\u8F93\u51FA\u683C\
            \u5F0F\u4E5F\u5FC5\u987B\u4FDD\u7559\u539F\u59CB Markdown \u683C\u5F0F\
            \n- \u4EE5\u4E0B\u662F\u5E38\u89C1\u7684\u76F8\u5173\u672F\u8BED\u8BCD\
            \u6C47\u5BF9\u5E94\u8868\uFF08\u4E2D\u6587 -> English\uFF09\uFF1A\n* \u96F6\
            \u6837\u672C -> Zero-shot\n* \u5C11\u6837\u672C -> Few-shot\n## \u7B56\
            \u7565\uFF1A\n\u5206\u4E24\u6B65\u8FDB\u884C\u7FFB\u8BD1\u5DE5\u4F5C\uFF0C\
            \u5E76\u6253\u5370\u6BCF\u6B65\u7684\u7ED3\u679C\uFF1A\n1. \u6839\u636E\
            \u76F4\u8BD1\u7684\u7ED3\u679C\uFF0C\u6307\u51FA\u5176\u4E2D\u5B58\u5728\
            \u7684\u5177\u4F53\u95EE\u9898\uFF0C\u8981\u51C6\u786E\u63CF\u8FF0\uFF0C\
            \u4E0D\u5B9C\u7B3C\u7EDF\u7684\u8868\u793A\uFF0C\u4E5F\u4E0D\u9700\u8981\
            \u589E\u52A0\u539F\u6587\u4E0D\u5B58\u5728\u7684\u5185\u5BB9\u6216\u683C\
            \u5F0F\uFF0C\u5305\u62EC\u4E0D\u4EC5\u9650\u4E8E\uFF1A\n- \u4E0D\u7B26\
            \u5408\u82F1\u6587\u8868\u8FBE\u4E60\u60EF\uFF0C\u660E\u786E\u6307\u51FA\
            \u4E0D\u7B26\u5408\u7684\u5730\u65B9\n- \u8BED\u53E5\u4E0D\u901A\u987A\
            \uFF0C\u6307\u51FA\u4F4D\u7F6E\uFF0C\u4E0D\u9700\u8981\u7ED9\u51FA\u4FEE\
            \u6539\u610F\u89C1\uFF0C\u610F\u8BD1\u65F6\u4FEE\u590D\n- \u6666\u6DA9\
            \u96BE\u61C2\uFF0C\u6A21\u68F1\u4E24\u53EF\uFF0C\u4E0D\u6613\u7406\u89E3\
            \uFF0C\u53EF\u4EE5\u5C1D\u8BD5\u7ED9\u51FA\u89E3\u91CA\n2. \u6839\u636E\
            \u76F4\u8BD1\u7684\u7ED3\u679C\u548C\u7B2C\u4E8C\u6B65\u6307\u51FA\u7684\
            \u95EE\u9898\uFF0C\u91CD\u65B0\u8FDB\u884C\u610F\u8BD1\uFF0C\u4FDD\u8BC1\
            \u5185\u5BB9\u7684\u539F\u610F\u7684\u57FA\u7840\u4E0A\uFF0C\u4F7F\u5176\
            \u66F4\u6613\u4E8E\u7406\u89E3\uFF0C\u66F4\u7B26\u5408\u82F1\u6587\u79D1\
            \u7814\u8BBA\u6587\u7684\u8868\u8FBE\u4E60\u60EF\uFF0C\u540C\u65F6\u4FDD\
            \u6301\u539F\u6709\u7684\u683C\u5F0F\u4E0D\u53D8\n## \u683C\u5F0F\n\u8FD4\
            \u56DE\u683C\u5F0F\u5982\u4E0B\uFF0C\"{xxx}\"\u8868\u793A\u5360\u4F4D\u7B26\
            \uFF1A\n\n###\u95EE\u9898\n{\u76F4\u8BD1\u7684\u5177\u4F53\u95EE\u9898\
            \u5217\u8868}\n***\n###\u610F\u8BD1"
        - id: e7ce339a-e1b2-4554-86ac-c66d95bc669e
          role: user
          text: "\u8FD9\u662F\u9700\u8981\u7FFB\u8BD1\u7684\u539F\u6587\n{{#1721107953425.content#}}\n\
            \n\u8FD9\u662F\u76F4\u8BD1\u7684\u7ED3\u679C\n{{#1721107972339.text#}}"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721107989661'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1721107989661'
          - text
          variable: output
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1721108151465'
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -2
      y: 34
      zoom: 1
