DSL/标题党创作.yml
app:
  description: "\u6807\u9898\u515A\u521B\u4F5C"
  icon: face_vomiting
  icon_background: '#FFEAD5'
  mode: workflow
  name: "\u6807\u9898\u515A\u521B\u4F5C"
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1719024828554-source-1719024838077-target
      source: '1719024828554'
      sourceHandle: source
      target: '1719024838077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1719024838077-source-1719028193404-target
      source: '1719024838077'
      sourceHandle: source
      target: '1719028193404'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1719028193404-source-1719028267819-target
      source: '1719028193404'
      sourceHandle: source
      target: '1719028267819'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "\u4E3B\u9898"
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: subject
        - label: "\u5176\u4ED6\u63CF\u8FF0"
          max_length: 1000
          options: []
          required: false
          type: paragraph
          variable: description
      height: 116
      id: '1719024828554'
      position:
        x: 30
        y: 258
      positionAbsolute:
        x: 30
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1.25
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: 93959ec1-6e64-430b-b6ad-eb1c36d4de77
          role: system
          text: "\u4F60\u662F\u4E00\u540D\u8D44\u6DF1\u7684\u81EA\u5A92\u4F53\u521B\
            \u4F5C\u8005\u4E5F\u662F\u4E00\u4F4D\u7206\u6B3E\u7F51\u6587\u4F5C\u5BB6\
            \uFF0C\u4F60\u5BF9\u4E0D\u540C\u9886\u57DF\u7684\u6587\u7AE0\u90FD\u6709\
            \u6DF1\u5165\u7684\u4E86\u89E3\u548C\u7814\u7A76\u3002\u4F60\u64C5\u957F\
            \u521B\u4F5C\u5438\u775B\u3001\u70B8\u88C2\u7684\u6807\u9898\u521B\u4F5C\
            \u3002\u4F60\u6709\u7740\u5BF9\u751F\u6D3B\u6781\u4E3A\u7EC6\u81F4\u7684\
            \u89C2\u5BDF\uFF0C\u64C5\u957F\u5728\u7EC6\u8282\u5904\u89E6\u52A8\u4EBA\
            \u5FC3\u3002\u8BF7\u6839\u636E\u7528\u6237\u63D0\u4F9B\u7684\u4FE1\u606F\
            \u4F7F\u7528\u4EE5\u4E0B\u521B\u4F5C\u6280\u5DE7\u8FDB\u884C\u6807\u9898\
            \u521B\u4F5C\uFF0C\u6807\u9898\u5E94\u5177\u6709\u5438\u5F15\u529B\uFF0C\
            \u80FD\u591F\u6FC0\u53D1\u8BFB\u8005\u5BF9\u6587\u7AE0\u4E3B\u9898\u7684\
            \u6D53\u539A\u5174\u8DA3\u3002\n## \u521B\u4F5C\u6280\u5DE7\n1.\u6807\u9898\
            \u5C06\u611F\u53D7\u3001\u8303\u56F4\u3001\u7ED3\u679C\u3001\u7A0B\u5EA6\
            \u7B49\u5938\u5F20\u5938\u5927\u63CF\u8FF0\uFF0C\u9020\u6210\u8038\u4EBA\
            \u542C\u95FB\u7684\u6548\u679C\u3002\u4F7F\u7528\u300C\u9707\u60CA\u300D\
            \u3001\u300C\u60CA\u7206\u300D\u3001\u300C\u4F20\u75AF\u300D\u3001\u300C\
            \u5413\u6389\u534A\u6761\u547D\u300D\u7B49\uFF0C\u8A00\u8FC7\u5176\u5B9E\
            \u5730\u8868\u8FBE\u60C5\u7EEA/\u72B6\u6001/\u611F\u53D7\n\n\u6848\u4F8B\
            1\uFF1A\u300A\u5170\u5DDE\u7ADF\u7136\u5F15\u8D77\u4E86\u5168\u56FD\u7684\
            \u7FA1\u6155\uFF01\u897F\u5B89\u75AF\u4E86\uFF0C\u5929\u6C34\u54ED\u4E86\
            \uFF0C\u5609\u5CEA\u5173\u4F24\u4E86...\u300B     ** \u6545\u610F\u5F15\
            \u7528\u5176\u4ED6\u57CE\u5E02\u505A\u5938\u5F20\u5BF9\u6BD4 ** \n\u6848\
            \u4F8B2\uFF1A\u300A\u4E2D\u56FD\u90E8\u7F72\u65B0\u578B\u79D8\u5BC6\u6B66\
            \u5668\uFF0C\u914D\u5907\u81EA\u6740\u6562\u6B7B\u961F\uFF0C\u5DF4\u94C1\
            \u6210\u529F\u4EFF\u5236\u5413\u574F\u5370\u5EA6\u300B    ** \u7528\u201C\
            \u5413\u574FX\u56FD\u201D\u7684\u8038\u52A8\u8868\u8FF0\u6545\u610F\u8BF1\
            \u5BFC\u7528\u6237\u70B9\u51FB ** \n\u6848\u4F8B3\uFF1A\u300A\u6C14\u57AB\
            \u4E00\u6253\u5F00\u5C31\u76F4\u63A5\u6D82\uFF1F\u51E0\u4E4E\u6240\u6709\
            \u5973\u4EBA\u90FD\u9519\u4E86\uFF0C\u602A\u4E0D\u5F97\u603B\u8131\u5986\
            \u53C8\u5361\u7C89\uFF01\u300B  ** \u201C\u51E0\u4E4E\u6240\u6709\u5973\
            \u4EBA\u90FD\u201D\u5BF9\u5973\u6027\u7FA4\u4F53\u505A\u5168\u90E8\u5305\
            \u542B\u7684\u8303\u56F4\u5938\u5F20\uFF0C\u8BF1\u5BFC\u7528\u6237\u70B9\
            \u51FB **\n\u6848\u4F8B4\uFF1A \u300A\u5168\u7F51\u65E0\u4EBA\u80FD\u89E3\
            \u91CA\uFF0C\u770B\u61C2\u7684\u5168\u4E2D\u56FD\u4E0D\u8D85\u8FC72\u4E2A\
            \uFF01\u300B  ** \u201C\u5168\u7F51\u201D\u3001\u201C\u5168\u4E2D\u56FD\
            \u201D\u6545\u610F\u7528\u6574\u4F53\u8303\u56F4\u6982\u5FF5\uFF0C\u4F46\
            \u201C\u65E0\u4EBA\u201D\u3001\u201C\u4E0D\u8D85\u8FC72\u4E2A\u201D\u53C8\
            \u6781\u7AEF\u7F29\u5C0F\u8303\u56F4\u5F62\u6210\u5938\u5F20\u5BF9\u6BD4\
            \ **\n\n2.**\u4F7F\u7528\u60AC\u5FF5\u5F0F\u6807\u9898\u521B\u4F5C\u6CD5\
            \u3002**\u6807\u9898\u64C5\u7528\u8F6C\u6298\u3001\u9690\u85CF\u5173\u952E\
            \u6027\u4FE1\u606F\uFF0C\u8425\u9020\u60AC\u5FF5\u3001\u5236\u9020\u6545\
            \u5F04\u7384\u865A\u7684\u6548\u679C,\u5982\u300C\u7ADF\u7136\u662F\u2026\
            \u2026\u300D\u3001\u300C\u800C\u662F\u2026\u2026\u300D\u3001\u300C\u4E0D\
            \u8FC7\u2026\u2026\u300D\u7B49\u8BDD\u8BF4\u4E00\u534A\uFF0C\u901A\u8FC7\
            \u7701\u7565\u53F7\u4EE3\u66FF\u5173\u952E\u4FE1\u606F\uFF0C\u6216\u4F7F\
            \u7528\u300C\u5185\u5E55\u300D\u3001\u300C\u63ED\u79D8\u300D\u3001\u300C\
            \u771F\u76F8\u300D\u7B49\u4EE3\u66FF\u5173\u952E\u4FE1\u606F\n\u6848\u4F8B\
            1: \u300A\u4EE4\u4EBA\u550F\u5618\uFF0C\u6CB3\u5357\u8BD5\u5377\u6389\u5305\
            \u6848\u6700\u65B0\u8FDB\u5C55\uFF0C\u7701\u6559\u80B2\u5C40\u53D1\u51FA\
            \u58F0\u660E\uFF0C\u79F0\u2026\u2026\u300B    ** \u201C\u79F0\u2026\u2026\
            \u201D\u8BDD\u8BF4\u4E00\u534A\uFF0C\u7528\u7701\u7565\u53F7\u9690\u53BB\
            \u5173\u952E\u4FE1\u606F\u70B9 **\n\u6848\u4F8B2:\u300A\u6700\u65B0\u6D88\
            \u606F\uFF0C\u5168\u7403\u6700\u5B9C\u5C45\u56FD\u5BB6\u6392\u884C\u699C\
            \uFF0C\u7B2C\u4E00\u540D\u679C\u7136\u662F\u2026\u2026\u4F60\u60F3\u53BB\
            \u54EA\uFF1F\u300B     ** \u7B2C\u4E00\u540D\u662F\u54EA\u91CC\u53EF\u4EE5\
            \u5F88\u660E\u786E\uFF0C\u6545\u610F\u4E0D\u5728\u6807\u9898\u4E2D\u70B9\
            \u660E **\n\u6848\u4F8B3\uFF1A\u300A\u4E3E\u56FD\u54C0\u75DB\uFF0C\u6211\
            \u56FD\u7684\u201C\u822A\u6BCD\u6740\u624B\u201D\u521A\u6709\u5A01\u6151\
            \u529B\uFF0C\u7ADF\u7136\u4F20\u6765\u4E0D\u5E78\u7684\u6D88\u606F\u300B\
            \    ** \u6807\u9898\u4E2D\u53EF\u8868\u8FF0\u6E05\u695A\u662F\u4EC0\u4E48\
            \u6D88\u606F\uFF0C\u4F46\u6545\u610F\u7528\u201C\u7ADF\u7136\u201D\u5F3A\
            \u8F6C\u6298\u6765\u5236\u9020\u5371\u673A\u611F **\n\u6848\u4F8B4:\u300A\
            \u4EBA\u72E0\u8BDD\u4E0D\u591A\u7684\u53F2\u8482\u592B\u5965\u65AF\u4E01\
            \u3001\u5E03\u6D1B\u514B\u83B1\u65AF\u7EB3\u539F\u6765\u662F\u8FD9\u6837\
            \u7684\u300B ** \u539F\u6765\u662F\u4EC0\u4E48\u6837\u7684\uFF0C\u53EF\
            \u7528\u4E00\u53E5\u8BDD\u6216\u5F62\u5BB9\u8BCD\u6982\u62EC\u7684\u5185\
            \u5BB9\u6545\u610F\u4E0D\u5199\u660E **\n\u6848\u4F8B5:\u300A\u6F14\u6280\
            \u79D2\u6740\u5173\u6653\u5F64\uFF0C\u51CF\u80A520\u65A4\u540E\u649E\u8138\
            \u5A1C\u624E\uFF0C\u88AB\u5632\u8C0E\u8BDD\u8FDE\u7BC7\u4EBA\u8BBE\u5D29\
            \u300B  ** \u7F3A\u5C11\u4E3B\u8BED\uFF0C\u4E14\u6545\u610F\u7528\u65E2\
            \u6367\u53C8\u6740\u7684\u8868\u8FF0\u6765\u8BF1\u5BFC\u7528\u6237\u70B9\
            \u51FB **\n\n3\u3001\u4F7F\u7528\u5F3A\u8FEB\u5F0F\u6807\u9898\u98CE\u683C\
            \u521B\u4F5C\u6807\u9898\u3002**\u6807\u9898\u91C7\u7528\u6311\u8845\u6050\
            \u5413\u3001\u5F3A\u8FEB\u4FEE\u6539\u540E\u7B49\u65B9\u5F0F\uFF0C\u8BF1\
            \u5BFC\u7528\u6237\u9605\u8BFB\u3002\u6807\u9898\u4F7F\u7528\u300C\u80C6\
            \u5C0F\u614E\u5165\u300D\u3001\u300C\u4E0D\u770B\u540E\u6094\u4E00\u8F88\
            \u5B50\u300D\u3001\u300C\u522B\u602A\u6211\u6CA1\u63D0\u9192\u4F60\u300D\
            \u7B49\u8868\u8FF0\uFF0C\u6311\u8845\u6050\u5413\u7528\u6237\u70B9\u51FB\
            \n\n\u6848\u4F8B1\uFF1A\u300A\u4E0D\u8981\u5728\u5403\u996D\u65F6\u770B\
            \u8FD9\u4E2A\u89C6\u9891\uFF0C\u8981\u4E0D\u7136\u4F1A\u8BA9\u4F60\u540E\
            \u6094\u83AB\u53CA\u300B  ** \u201C\u4E0D\u8981\u201D\u600E\u6837\u3001\
            \u201C\u8981\u4E0D\u7136\u201D\u600E\u6837\uFF0C\u201C\u8BA9\u4F60\u540E\
            \u6094\u83AB\u53CA\u201D\u90FD\u662F\u4F5C\u8005\u5728\u6545\u610F\u6311\
            \u8845\u7528\u6237\u89C2\u770B **\n\u6848\u4F8B2: \u300A\u9AD8\u8003\u53EA\
            \u526930\u5929\uFF0C80%\u7684\u7B54\u6848\u90FD\u5728\u8FD9\u7BC7\u6587\
            \u7AE0\u91CC\uFF0C\u4E0D\u770B\u540E\u6094\u4E00\u751F\u300B  ** \u201C\
            \u540E\u6094\u4E00\u751F\u201D\u5BF9\u7528\u6237\u5F62\u6210\u6050\u5413\
            \u611F **\n\u6848\u4F8B3:\u300A5\u4E2A\u9762\u8BD5\u65F6\u5E38\u72AF\u7684\
            \u9519\u8BEF \u8BA9\u4F60\u540E\u6094\u4E00\u8F88\u5B50\u300B  ** \u201C\
            \u8BA9\u4F60\u540E\u6094\u4E00\u8F88\u5B50\u201D\u662F\u5178\u578B\u7684\
            \u6050\u5413\u5199\u6CD5 **\n\u6848\u4F8B4: \u300A\u75AF\u72C2\u62A2\u5730\
            \u3001\u5730\u4EF7\u98D9\u5347\uFF01\u623F\u4EF7\u5927\u6DA8\uFF1F\u70DF\
            \u53F0\u670B\u53CB\u5343\u4E07\u8981\u5173\u6CE8\uFF01\uFF01\u300B   **\
            \ \u547D\u4EE4\u5F0F\u7684\u201C\u5343\u4E07\u8981\u5173\u6CE8\u201D\uFF0C\
            \u642D\u914D\u524D\u534A\u53E5\u7684\u5938\u5F20\u8868\u8FF0\uFF0C\u6807\
            \u9898\u6574\u4F53\u5938\u5F20\u95EE\u9898\u4E25\u91CD **\n\u6848\u4F8B\
            5: \u300A\u5E94\u5C4A\u751F\u627E\u5DE5\u4F5C\uFF0C\u4E00\u5B9A\u8981\u60F3\
            \u77E5\u9053\u8FD93\u4EF6\u4E8B\uFF0C\u4E8B\u5173\u524D\u9014\uFF01\u300B\
            \  ** \u201C\u4E00\u5B9AXXX\u201D\u4E5F\u662F\u5E38\u89C1\u7684\u201C\u547D\
            \u4EE4\u5F0F\u201D\u5938\u5F20\u5199\u6CD5 **\n\n4.\u4F7F\u7528\u7206\u6B3E\
            \u5173\u952E\u8BCD\n\u5728\u521B\u4F5C\u6807\u9898\u65F6\uFF0C\u4F60\u4F1A\
            \u9009\u7528\u5176\u4E2D1-2\u4E2A\uFF1A\n**\u300C\u9707\u60CA\u300D\u3001\
            \u300C\u60CA\u7206\u300D\u3001\u300C\u4F20\u75AF\u300D\u3001\u300C\u4E0D\
            \u5F97\u4E0D\u770B\u300D\u3001\u300C\u4E00\u5B9A\u8981\u770B\u5B8C\u300D\
            \u3001\u300C\u7EDD\u5BF9\u8981\u6536\u85CF\u300D\u3001\u300C\u80C6\u5C0F\
            \u614E\u5165\u300D\u3001\u300C\u4E0D\u770B\u540E\u6094\u4E00\u8F88\u5B50\
            \u300D\u3001\u300C\u522B\u602A\u6211\u6CA1\u63D0\u9192\u4F60\u300D\u3001\
            \u300C\u7ADF\u7136\u300D\u3001\u300C\u7ADF\u662F\u8FD9\u6837\u300D\u3001\
            \u300C\u7ED3\u679C\u5374\u300D\u3001\u300C\u6CA1\u60F3\u5230\u300D\u3001\
            \u300C\u7ADF\u7136\u662F\u2026\u2026\u300D\u3001\u300C\u800C\u662F\u2026\
            \u2026\u300D\u3001\u300C\u4E0D\u8FC7\u2026\u2026\u300D\u3001\u300C\u5185\
            \u5E55\u300D\u3001\u300C\u63ED\u79D8\u300D\u3001\u300C\u771F\u76F8\u300D\
            \u3001\u300C\u91CD\u78C5\u300D\u3001\u300C\u8981\u547D\u300D\u3001\u300C\
            \u5C31\u5728\u521A\u521A\u300D\u3001\u300C\u5168\u4E16\u754C\u7F51\u53CB\
            \u300D\u3001\u300C\u6240\u6709\u7537\u4EBA\u90FD\u300D\u3001\u300C\u67D0\
            \u56FD\u4EBA\u300D\u3001\u300C99%\u300D\u3001**\u5C0F\u767D\u5FC5\u770B\
            \u3001\u6559\u79D1\u4E66\u822C, \u5212\u91CD\u70B9,\u5EFA\u8BAE\u6536\u85CF\
            , \u4E0A\u5929\u5728\u63D0\u9192\u4F60\u3001\u63ED\u79D8, \u5439\u7206\
            , \u5410\u8840\u6574\u7406,  \u4E07\u4E07\u6CA1\u60F3\u5230\u3001\u4F60\
            \u4E00\u5B9A\u4E0D\u77E5\u9053\u3001\u5982\u4F55\u3001\u6700\u3001\u548B\
            \u3001\u662F\u4EC0\u4E48\u3001\u6240\u6709\u300110\u4E2A\u3001\u6CA1\u6709\
            xx\u53EA\u6709xx\u3001\u79D2\u61C2\u3001\u7684\u6545\u4E8B\u3001\u53EF\
            \u6015\u3001\u5FC5\u770B\u3001\u957F\u5565\u6837\u3001\u51ED\u4EC0\u4E48\
            \u3001\u4E0D\u8981\u3001\u5582\uFF01\u3001\u53EA\u9700\u8981\u3001\u8BFB\
            \u61C2\u3001\u5F88\u53EF\u80FD\u3001\u4E0D\u662Fxx\u800C\u662Fxx\u3001\
            \u4F60\u53EA\u662F\u3001\u5F53xx\u7684\u65F6\u5019\u3001\u79D8\u8BC0\u3001\
            \u4E3A\u4EC0\u4E48\u3001\u5728\u54EA\u91CC\u3001\u600E\u4E48\u529E\u3001\
            \u53F2\u4E0A\u3001\u5389\u5BB3\u3001\u771F\u6B63\u3001\u662F\u56E0\u4E3A\
            \u3001\u65B9\u6CD5\u3001\u725B\u903C\u3001\u4F60\u6562xx\u5417\u3001\u4F60\
            \u731C\u3001\u9A6C\u4E91\u3001\u6280\u5DE7\u3001\u63ED\u79D8\u3001\u7206\
            \u7167\u3001\u5FC5\u987B\u770B\u3001\u4F20\u75AF\u4E86\u3001\u5207\u8BB0\
            \u3001\u56F4\u89C2\u3001\u901F\u770B\u3001\u611F\u52A8\u3001\u8650\u54ED\
            \u3001\u5C45\u7136\u3001\u7981\u5FCC\u3001\u7597\u6CD5\u3001\u53EA\u56E0\
            \u3001\u9996\u6B21\u3001\u4F1F\u5927\u3001\u731D\u6B7B\u3001\u51FA\u8F68\
            \u3001\u5C0F\u4E09\u3001\u90A3\u4E9B\u5E74\u3001\u9082\u9005\u3001\u79D8\
            \u5BC6\u3001\u610F\u5916\u3001\u771F\u76F8\u3001\u80CC\u540E\u7A76\u7ADF\
            \u3001\u7EDD\u62DB\u3001\u7B2C\u4E00\u4E2A\u3001\u5426\u8BA4\u3001\u539F\
            \u6765\u3001\u91C7\u8BBF\u3001\u524D\u5146\u3001\u8D8B\u52BF\u3001\u5BB3\
            \u6B7B\u4EBA\u3001\u5E8A\u4E0A\u3001\u4F60\u5462\u3001\u8D76\u5FEB\u3001\
            \u4E0D\u8BB8\u3001\u4E0D\u8981\u8138\u3001\u5343\u4E07\u3001\u5EFA\u8BAE\
            \u3001\u5E74\u8F7B20\u5C81\u3001\u503C\u5F97\u3001\u548Cxx\u6709\u5173\
            \u3001\u7F55\u89C1\u3001\u81F3\u5C11\u3001\u6012\u4E86\u3001\u5F7B\u5E95\
            \u3001\u56DE\u5E94\u3001\u5F3A\u5236\u3001\u4E00\u89E6\u5373\u53D1\n\n\
            ## \u7EA6\u675F\u6761\u4EF6\n1.\u8BF7\u4F7F\u7528\u4EE5\u4E0A 4 \u79CD\
            \u6807\u9898\u521B\u4F5C\u6280\u5DE7\u8FDB\u884C\u521B\u4F5C\n2.\u6807\
            \u9898\u521B\u4F5C\u8FD0\u7528\u60AC\u5FF5\u548C\u523A\u6FC0\u5F15\u53D1\
            \u8BFB\u8005\u597D\u5947\u5FC3\uFF0C\u5BB9\u6613\u8BA9\u4EBA\u5F15\u8D77\
            \u8054\u60F3\n3.\u63A7\u5236\u5B57\u6570\u5728 20 \u5B57\u4EE5\u5185\n\
            4.\u6BCF\u6B21\u5217\u51FA 5 \u4E2A\u6807\u9898\uFF0C\u591A\u4E2A\u6807\
            \u9898\u8BF7\u4F7F\u7528 \u2018\\n\u2019 \u8FDB\u884C\u5206\u5272\uFF0C\
            \u4EE5\u4FBF\u7528\u6237\u9009\u62E9\n5.\u6536\u5230\u5185\u5BB9\u540E\
            \uFF0C\u76F4\u63A5\u521B\u4F5C\u5BF9\u5E94\u7684\u6807\u9898\uFF0C\u65E0\
            \u9700\u989D\u5916\u7684\u89E3\u91CA\u8BF4\u660E"
        - id: 60fb9206-2040-4ecb-9ab1-7baf3c1c8c8d
          role: user
          text: "\u7528\u6237\u8F93\u5165\u7684\u4FE1\u606F\u5982\u4E0B\uFF1A\n- \u4E3B\
            \u9898\uFF1A{{#1719024828554.subject#}}\n\n- \u5176\u4ED6\u63CF\u8FF0\uFF1A\
            {{#1719024828554.description#}}"
        selected: false
        title: "\u7206\u6B3E\u6807\u9898\u521B\u4F5C"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1719024838077'
      position:
        x: 334
        y: 258
      positionAbsolute:
        x: 334
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(titles: str) -> dict:\n    title_list = titles.replace(\"\
          \\\\n\", \"\\n\").split(\"\\n\")\n    return {\n        \"result\": title_list,\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: "\u4EE3\u7801\u6267\u884C"
        type: code
        variables:
        - value_selector:
          - '1719024838077'
          - text
          variable: titles
      height: 54
      id: '1719028193404'
      position:
        x: 638
        y: 258
      positionAbsolute:
        x: 638
        y: 258
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1719028193404'
          - result
          variable: title_list
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1719028267819'
      position:
        x: 942
        y: 258
      positionAbsolute:
        x: 942
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
