DSL/根据用户的意图进行回复.yml
app:
  description: "\u56FE\u7247\u6253\u5361\u7684\u94FE\u63A5\u6253\u5361\u2014\u2014\
    >\u7528\u6237\u610F\u56FE\u56DE\u590D"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "\u6839\u636E\u7528\u6237\u7684\u610F\u56FE\u8FDB\u884C\u56DE\u590D"
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: question-classifier
      id: 1718246807593-1718246909580
      selected: false
      source: '1718246807593'
      sourceHandle: source
      target: '1718246909580'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: 1718246909580-1718246916748
      selected: false
      source: '1718246909580'
      sourceHandle: '1715846546749'
      target: '1718246916748'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1718246916748-source-1718852940536-target
      source: '1718246916748'
      sourceHandle: source
      target: '1718852940536'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1718246959048-source-1718852940536-target
      source: '1718246959048'
      sourceHandle: source
      target: '1718852940536'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1718852940536-source-1718853322658-target
      source: '1718852940536'
      sourceHandle: source
      target: '1718853322658'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1714456604511-source-1718246807593-target
      source: '1714456604511'
      sourceHandle: source
      target: '1718246807593'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1718853322658-source-1719901804452-target
      source: '1718853322658'
      sourceHandle: source
      target: '1719901804452'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1718246909580-1715846565625-1721623802451-target
      source: '1718246909580'
      sourceHandle: '1715846565625'
      target: '1721623802451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1721623802451-source-1718246959048-target
      source: '1721623802451'
      sourceHandle: source
      target: '1718246959048'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: query
          max_length: 60000
          options: []
          required: true
          type: paragraph
          variable: query
      height: 90
      id: '1714456604511'
      position:
        x: 30
        y: 292
      positionAbsolute:
        x: 30
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 3
        model:
          completion_params:
            temperature: 0.7
            top_p: 0.2
          mode: chat
          name: qwen-vl-plus
          provider: tongyi
        prompt_template:
        - id: cf4669d8-da9b-43e6-a726-989dd4dacdc9
          role: system
          text: "\u73B0\u5728\u6211\u8981\u505A\u4E00\u4E2A\u804A\u5929\u4FE1\u606F\
            \u6574\u7406\u7684\u5DE5\u4F5C\uFF0C\u8BF7\u53C2\u7167\u4EE5\u4E0BPrompt\u5236\
            \u4F5C\u3002\n"
        - id: 4cd9313f-e470-4abd-96ba-0f396be97a9d
          role: user
          text: "## \u89D2\u8272\n\u4F60\u662F\u4E00\u4E2AApp\u7684\u5BA2\u670D\uFF0C\
            App\u5DF2\u7ECF\u4E0A\u67B6\u4E86\u5E94\u7528\u5546\u5E97\uFF0C\u5B83\u8FD8\
            \u6709\u4E00\u4E2A\u914D\u5957\u7684\u8FD0\u52A8\u8155\u5E26\uFF0C\u53EF\
            \u4EE5\u5B9E\u65F6\u76D1\u6D4B\u5FC3\u7387\uFF0C\u4F60\u8D1F\u8D23\u63D0\
            \u4F9B\u5BA2\u670D\u670D\u52A1\u3002\n\n## \u8F93\u5165\uFF1A\n- \u8F93\
            \u5165\u5185\u5BB9\u4E3A\u7528\u6237\u7684\u804A\u5929\u8BB0\u5F55\n-\
            \ \u53EF\u80FD\u542B\u6709\u591A\u6BB5\u6587\u672C\u548C\u591A\u5F20\u56FE\
            \u7247\n- \u8FD9\u4E9B\u5185\u5BB9\u4E0EApp\u3001\u8FD0\u52A8\u3001\u996E\
            \u98DF\u3001\u7B54\u9898\u6216\u65E5\u5E38\u751F\u6D3B\u76F8\u5173\u3002\
            \n\n## \u7B56\u7565\uFF1A\n\u5206\u56DB\u6B65\u8FDB\u884C\u4FE1\u606F\u6574\
            \u7406\uFF0C\u5E76\u6253\u5370\u6BCF\u6B65\u7684\u7ED3\u679C\uFF0C\u4E0D\
            \u8981\u9057\u6F0F\uFF1A\n1. \u5982\u679C\u6709\u56FE\u7247\uFF0C\u8BC6\
            \u522B\u56FE\u7247\u7684\u5185\u5BB9\uFF0C\u8FDB\u884C\u5206\u7C7B\uFF0C\
            \u4F8B\u5982\uFF1A\u996E\u98DF\u3001APP\u622A\u56FE\u3001\u8FD0\u52A8\u8155\
            \u5E26\u7B49\n2. \u7ED3\u5408\u6587\u672C\u7684\u5185\u5BB9\uFF0C\u5BF9\
            \u56FE\u7247\u8FDB\u884C\u8BE6\u7EC6\u7684\u63CF\u8FF0\u3002\n3. \u6839\
            \u636E\u5BF9\u6587\u672C\u7684\u7406\u89E3\u548C\u56FE\u7247\u7684\u63CF\
            \u8FF0\uFF0C\u5C1D\u8BD5\u5BF9\u804A\u5929\u5185\u5BB9\u8FDB\u884C\u8865\
            \u5168\uFF0C\u6307\u51FA\u7528\u6237\u7684\u610F\u56FE\u3002\u4F8B\u5982\
            \uFF1A\u6253\u5361\u5206\u4EAB\u3001\u5065\u5EB7\u54A8\u8BE2\u3001\u5728\
            \u7EBF\u4EA4\u53CB\u3001\u54A8\u8BE2\u996E\u98DF\u5EFA\u8BAE\u3001\u8FD0\
            \u52A8\u8155\u5E26\u95EE\u9898\u54A8\u8BE2\u7B49\u3002\n4. \u6839\u636E\
            \u7528\u6237\u7684\u610F\u56FE\uFF0C\u7ED9\u51FA\u56DE\u590D\u7B56\u7565\
            \u3002\u4F8B\u5982\uFF1A\u5938\u5956\u7528\u6237\u3001\u5065\u5EB7\u6307\
            \u5BFC\u3001App\u6216\u8155\u5E26\u4F7F\u7528\u5E2E\u52A9\n- \u5355\u7EAF\
            \u7684\u56FE\u7247\u5206\u4EAB\uFF0C\u5927\u6982\u7387\u662F\u9700\u8981\
            \u5938\u5956\n- \u6709\u5065\u5EB7\u76F8\u5173\u95EE\u9898\uFF0C\u5927\
            \u6982\u7387\u662F\u9700\u8981\u4E13\u4E1A\u7684\u5065\u5EB7\u6307\u5BFC\
            \u548C\u5EFA\u8BAE\n- App\u548C\u8155\u5E26\u95EE\u9898\uFF0C\u5927\u6982\
            \u7387\u9700\u8981\u68C0\u7D22\u77E5\u8BC6\u5E93\uFF0C\u63D0\u4F9B\u4F7F\
            \u7528\u5E2E\u52A9\n- \u6587\u672C\u4FE1\u606F\u4E2D\u7684 image_type\
            \ \u4EC5\u4F9B\u53C2\u8003\uFF0C\u4E0D\u8981\u53C2\u4E0E\u5206\u6790\n\
            ## \u683C\u5F0F\n\u8FD4\u56DE\u683C\u5F0F\u5982\u4E0B\uFF0C\"{xxx}\"\u8868\
            \u793A\u5360\u4F4D\u7B26\uFF1A\n### \u56FE\u7247\u5206\u7C7B\n{\u56FE\u7247\
            \u5206\u7C7B}\n***\n### \u56FE\u7247\u63CF\u8FF0\n{\u56FE\u7247\u63CF\u8FF0\
            }\n***\n### \u7528\u6237\u610F\u56FE\n{\u7528\u6237\u610F\u56FE}\n***\n\
            ### \u56DE\u590D\u7B56\u7565\n{\u56DE\u590D\u7B56\u7565}"
        - id: 04e30b4d-8f79-4837-b470-bd46ae52a1bb
          role: assistant
          text: "\u597D\u7684\uFF0C\u6211\u5C06\u6309\u7167\u4F60\u7684\u8981\u6C42\
            \uFF0C\u8FDB\u884C\u6570\u636E\u6574\u7406"
        - id: 7a805718-5f13-4bd4-9995-b466b56f4735
          role: user
          text: '{{#1714456604511.query#}}'
        selected: false
        title: "\u610F\u56FE\u5411\u91CF\u673A"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1718246807593'
      position:
        x: 334
        y: 292
      positionAbsolute:
        x: 334
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1715846546749'
          name: "\u5065\u5EB7\u54A8\u8BE2"
        - id: '1715846565625'
          name: "\u4F7F\u7528\u5E2E\u52A9"
        desc: ''
        instruction: "\u5206\u7C7B\u4F9D\u636E\n- \u4E0EApp\uFF0C\u8FD0\u52A8\u8155\
          \u5E26\u76F8\u5173\uFF0C\u90FD\u5C5E\u4E8E **\u4F7F\u7528\u5E2E\u52A9**\
          \ \u8FD9\u4E2A\u7C7B\u522B\n- \u75BE\u75C5\u3001\u996E\u98DF\u3001\u7761\
          \u7720\u7B49\u5176\u4ED6\u5206\u7C7B\uFF0C\u90FD\u5C5E\u4E8E **\u5065\u5EB7\
          \u54A8\u8BE2** \u8FD9\u4E2A\u7C7B\u522B"
        instructions: ''
        model:
          completion_params:
            temperature: 0.1
            top_p: 1
          mode: chat
          name: deepseek-chat
          provider: deepseek
        query_variable_selector:
        - '1718246807593'
        - text
        selected: false
        title: "\u95EE\u9898\u5206\u7C7B\u5668"
        topics: []
        type: question-classifier
      height: 184
      id: '1718246909580'
      position:
        x: 638
        y: 292
      positionAbsolute:
        x: 638
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1718246807593'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: 8dfbe783-52f1-4210-9899-e952da5ed717
          role: system
          text: "### \u89D2\u8272\u5B9A\u4F4D\n\n\u4F5C\u4E3A\u4E00\u4F4D\u7ECF\u9A8C\
            \u4E30\u5BCC\u7684\u793E\u7FA4\u5065\u5EB7\u7BA1\u5BB6\uFF0C\u60A8\u8D1F\
            \u8D23\u5728\u5FAE\u4FE1\u7FA4\u5185\u63D0\u4F9B\u4E13\u4E1A\u7684\u5065\
            \u5EB7\u53CD\u9988\u548C\u5EFA\u8BAE\u3002\u4F60\u53EF\u4EE5\u6839\u636E\
            \u7528\u6237\u7684\u610F\u56FE\uFF0C\u548C\u56DE\u590D\u7B56\u7565\uFF0C\
            \u8FDB\u884C\u56DE\u590D\u3002\n### \u4E13\u4E1A\u6280\u80FD\n\n*   \u6162\
            \u75C5\u7BA1\u7406\u4E0E\u8425\u517B\u5B66\uFF1A\u60A8\u719F\u6089\u300A\
            \u4E2D\u56FD\u9AD8\u8840\u538B\u5065\u5EB7\u7BA1\u7406\u89C4\u8303\u300B\
            \u3001\u300A\u4E2D\u56FD\u8001\u5E74\u7CD6\u5C3F\u75C5\u8BCA\u7597\u6307\
            \u5357\u300B\u548C\u300A\u4E2D\u56FD\u81B3\u98DF\u8425\u517B\u6307\u5357\
            \u300B\uFF0C\u62E5\u6709\u4E30\u5BCC\u7684\u5B9E\u8DF5\u7ECF\u9A8C\u3002\
            \n*   \u836F\u7269\u77E5\u8BC6\uFF1A\u60A8\u62E5\u670920\u5E74\u7684\u836F\
            \u5E08\u7ECF\u9A8C\uFF0C\u5BF9\u836F\u54C1\u8BF4\u660E\u4E66\u548C\u4F7F\
            \u7528\u7EC6\u8282\u6709\u7740\u6DF1\u523B\u7684\u7406\u89E3\u3002\n*\
            \   \u5065\u5EB7\u54A8\u8BE2\uFF1A\u60A8\u80FD\u591F\u6839\u636E\u7528\
            \u6237\u7684\u5177\u4F53\u95EE\u9898\uFF0C\u63D0\u4F9B\u5168\u9762\u7684\
            \u5065\u5EB7\u5EFA\u8BAE\u3001\u751F\u6D3B\u65B9\u5F0F\u6307\u5BFC\u548C\
            \u5FC3\u7406\u652F\u6301\u3002\n\n### \u64CD\u4F5C\u51C6\u5219\n*   \u4FE1\
            \u606F\u53C2\u8003\u6027\uFF1A\u5728\u63D0\u4F9B\u533B\u7597\u76F8\u5173\
            \u4FE1\u606F\u65F6\uFF0C\u8981\u660E\u786E\u544A\u77E5\u7528\u6237\u6240\
            \u6709\u5EFA\u8BAE\u4EC5\u4F9B\u53C2\u8003\uFF0C\u5177\u4F53\u533B\u7597\
            \u51B3\u7B56\u548C\u7528\u836F\u95EE\u9898\u5E94\u9075\u5FAA\u533B\u751F\
            \u7684\u6307\u5BFC\u3002\n*   \u670D\u52A1\u8303\u56F4\uFF1A\u5982\u679C\
            \u7528\u6237\u7684\u95EE\u9898\u8D85\u51FA\u5065\u5EB7\u7BA1\u7406\u8303\
            \u7574\uFF0C\u60A8\u5E94\u8BF4\u660E\u4F5C\u4E3A\u5065\u5EB7\u7BA1\u7406\
            \u5E08\uFF0C\u60A8\u65E0\u6CD5\u63D0\u4F9B\u8D85\u51FA\u5065\u5EB7\u54A8\
            \u8BE2\u8303\u56F4\u7684\u5EFA\u8BAE\u3002\n*   \u8EAB\u4EFD\u4FDD\u5BC6\
            \uFF1A\u5728\u4EA4\u6D41\u4E2D\uFF0C\u60A8\u5E94\u4EE5\u201C\u5065\u5EB7\
            \u7BA1\u7406\u5E08\u201D\u7684\u8EAB\u4EFD\u51FA\u73B0\uFF0C\u907F\u514D\
            \u900F\u9732\u60A8\u662FAI\u673A\u5668\u4EBA\u7684\u4E8B\u5B9E\u3002\n\
            *   \u683C\u5F0F\u8981\u6C42\uFF1A\u5728\u6587\u672C\u4E2D\u4E0D\u4F7F\
            \u7528\u661F\u53F7( ** )\u6765\u5F3A\u8C03\u5185\u5BB9\u3002\n*   \u6587\
            \u5B57\u6570\u91CF\uFF1A\u8F93\u51FA\u6587\u5B57\u4E0D\u8981\u8D85\u8FC7\
            200\u5B57\u3002\n\n### \u4EA4\u6D41\u98CE\u683C\n*   \u8868\u60C5\u7B26\
            \u53F7\uFF1A\u5728\u56DE\u590D\u4E2D\u9002\u5F53\u52A0\u5165\u8868\u60C5\
            \u7B26\u53F7\uFF0C\u4EE5\u589E\u52A0\u4EA4\u6D41\u7684\u4EB2\u5207\u611F\
            \u548C\u8868\u8FBE\u7684\u4E30\u5BCC\u6027\u3002\n\n### \u7B56\u7565\n\
            - \u6839\u636E\u56DE\u590D\u7B56\u7565\uFF0C\u7ED3\u5408\u7528\u6237\u7684\
            \u610F\u56FE\uFF0C\u8FDB\u884C\u5185\u5BB9\u8F93\u51FA\n- \u6CE8\u610F\
            \uFF0C\u4F60\u9762\u5411\u7684\u7528\u6237\u662F\u5E74\u9F84\u8F83\u5927\
            \u7684\u60A3\u8005\uFF0C\u5C3D\u53EF\u80FD\u7B80\u6D01\u7CBE\u70BC\u7684\
            \u56DE\u590D\u7528\u6237\uFF0C\u4E0D\u8981\u8D85\u8FC7300\u5B57\n- \u76F4\
            \u63A5\u8F93\u51FA\u56DE\u590D\u5185\u5BB9\uFF0C\u4E0D\u8981\u6709\u5176\
            \u5B83\u5206\u6790\u76F8\u5173\u7684\u4FE1\u606F"
        - id: 0b83f901-f97c-428f-8954-c4b772509bb2
          role: user
          text: '{{#context#}}'
        selected: false
        title: "\u6587\u672C\u5065\u5EB7\u54A8\u8BE2\u56DE\u590D"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1718246916748'
      position:
        x: 1246
        y: 292
      positionAbsolute:
        x: 1246
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1721623802451'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: 3a83623c-0e25-47c1-be3e-14946302c2c3
          role: system
          text: "\u4F60\u662F\u4E00\u4E2Aapp\u7684\u5B98\u65B9\u5BA2\u670D\u4EBA\u5458\
            \uFF0C\u8BF7\u6839\u636E\u77E5\u8BC6\u5E93\uFF0C\u548C\u7528\u6237\u95EE\
            \u9898\uFF0C\u8FDB\u884C\u56DE\u590D\uFF0C\u5C3D\u53EF\u80FD\u8FD8\u539F\
            \u68C0\u7D22\u5185\u5BB9\uFF0C\u4E14\u56DE\u7B54\u6D41\u7545\u3002\n\n\
            ### \u4EA4\u6D41\u98CE\u683C\n*   \u8868\u60C5\u7B26\u53F7\uFF1A\u5728\
            \u56DE\u590D\u4E2D\u9002\u5F53\u52A0\u5165\u8868\u60C5\u7B26\u53F7\uFF0C\
            \u4EE5\u589E\u52A0\u4EA4\u6D41\u7684\u4EB2\u5207\u611F\u548C\u8868\u8FBE\
            \u7684\u4E30\u5BCC\u6027\u3002\n*   \u6587\u5B57\u6570\u91CF\uFF1A\u8F93\
            \u51FA\u6587\u5B57\u4E0D\u8981\u8D85\u8FC7300\u5B57\u3002\n\n## \u8FD9\
            \u662F\u77E5\u8BC6\u5E93\n{{#context#}}\n"
        - id: 8483aec2-6a78-4154-a079-a33de3f8708e
          role: user
          text: '{{#1718246807593.text#}}'
        selected: false
        title: "\u6587\u672C\u4F7F\u7528\u5E2E\u52A9\u56DE\u590D"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1718246959048'
      position:
        x: 1246
        y: 430
      positionAbsolute:
        x: 1246
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: "\u53D8\u91CF\u805A\u5408\u5668"
        type: variable-aggregator
        variables:
        - - '1718246916748'
          - text
        - - '1718246959048'
          - text
      height: 139
      id: '1718852940536'
      position:
        x: 1550
        y: 292
      positionAbsolute:
        x: 1550
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1718852940536'
          - output
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: 42cee7e9-9bfa-46dc-b4e2-d9db7fe23380
          role: system
          text: "## \u89D2\u8272\n\u4F60\u662F\u4E00\u4E2AApp\u7684\u5BA2\u670D\uFF0C\
            App\u5DF2\u7ECF\u4E0A\u67B6\u4E86\u5E94\u7528\u5546\u5E97\uFF0C\u5B83\u8FD8\
            \u6709\u4E00\u4E2A\u914D\u5957\u7684\u8FD0\u52A8\u8155\u5E26\uFF0C\u53EF\
            \u4EE5\u5B9E\u65F6\u76D1\u6D4B\u5FC3\u7387\uFF0C\u4F60\u8D1F\u8D23\u63D0\
            \u4F9B\u5BA2\u670D\u670D\u52A1\u3002\u8BF7\u6839\u636E\u7528\u6237\u804A\
            \u5929\u5185\u5BB9\uFF0C\u53C2\u8003\u56DE\u590D\u5185\u5BB9\uFF0C\u56DE\
            \u590D\u7528\u6237\u3002\n\n## \u8F93\u5165\uFF1A\n- \u8F93\u5165\u5185\
            \u5BB9\u4E3A\u7528\u6237\u7684\u804A\u5929\u8BB0\u5F55\n- \u53EF\u80FD\
            \u542B\u6709\u591A\u6BB5\u6587\u672C\u548C\u591A\u5F20\u56FE\u7247\n-\
            \ \u8FD9\u4E9B\u5185\u5BB9\u4E0E\u94A5\u5065\u5EB7App\u3001\u8FD0\u52A8\
            \u3001\u996E\u98DF\u3001\u7B54\u9898\u6216\u65E5\u5E38\u751F\u6D3B\u76F8\
            \u5173\u3002\n\n## \u98CE\u683C\n1\u3001\u7B80\u5355\u56DE\u590D\u6536\
            \u5230\u6253\u5361\n2\u3001\u7B80\u5355\u70B9\u8BC4\u3002\n3\u3001\u6B63\
            \u9762\u9F13\u52B1\u7528\u6237\u7684\u5206\u4EAB\u884C\u4E3A\u3002\n4\u3001\
            \ \u8BED\u6C14\u4EB2\u5207\u70ED\u60C5\u3002\n5\u3001\u4E0D\u8981\u63D0\
            \u95EE\u9898\u3002\n6\u3001\u53EF\u6700\u591A\u4F7F\u7528\u4E00\u4E2A\u8868\
            \u60C5\u56FE\u63D0\u9AD8\u8DA3\u5473\u6027\u3002\n7\u3001\u5B57\u6570\u4E0D\
            \u8D85\u8FC730\u3002\n8\u3001\u5168\u90E8\u4F7F\u7528\u4E2D\u6587\u3002\
            \n## \u56DE\u590D\u53C2\u8003\u5185\u5BB9\n{{#1718852940536.output#}}"
        - id: 82549489-7d89-4844-bd02-e8409acab391
          role: user
          text: '{{#context#}}'
        selected: false
        title: "\u98CE\u683C\u5316\u56DE\u590D\u5185\u5BB9"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1718853322658'
      position:
        x: 1854
        y: 292
      positionAbsolute:
        x: 1854
        y: 292
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1718853322658'
          - text
          variable: output
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1719901804452'
      position:
        x: 2158
        y: 292
      positionAbsolute:
        x: 2158
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - be517915-1dd5-4d09-a67d-4d5e4e4b21a8
        desc: ''
        query_variable_selector:
        - '1714456604511'
        - query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: Doubao-Pro-32k
            provider: volcengine_maas
        title: "\u77E5\u8BC6\u68C0\u7D22"
        type: knowledge-retrieval
      height: 92
      id: '1721623802451'
      position:
        x: 942
        y: 430
      positionAbsolute:
        x: 942
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
