DSL/马屁精大诗人.yml
app:
  description: ''
  icon: grinning
  icon_background: '#FFEAD5'
  mode: workflow
  name: 马屁精大诗人
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 200
        file_size_limit: 200
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1740723708851-source-1740723740110-target
      source: '1740723708851'
      sourceHandle: source
      target: '1740723740110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1740723740110-source-1740724894113-target
      source: '1740723740110'
      sourceHandle: source
      target: '1740724894113'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 你要赞美谁？
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: name
        - label: 性别
          max_length: 48
          options:
          - 男
          - 女
          required: true
          type: select
          variable: sex
        - label: 古诗类型
          max_length: 48
          options:
          - 五言绝句
          - 七言绝句
          required: true
          type: select
          variable: type
        - label: 多少句
          max_length: 48
          options: []
          required: true
          type: number
          variable: number
        - label: 其他要求
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: other
        - label: 古诗主题
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: subject
      height: 220
      id: '1740723708851'
      position:
        x: 78.83849126807428
        y: 282
      positionAbsolute:
        x: 78.83849126807428
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1740723708851'
          - name
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-r1-distill-qwen-14b
          provider: gpustack
        prompt_template:
        - id: 1fabb360-04c0-45e2-9d5f-8b44c357f94a
          role: system
          text: 你是饱读诗书的作家，热爱文学创作，尤其喜欢中国古诗。
        - id: 30122424-d935-4bfa-8cb6-6e604b02d341
          role: user
          text: 现在请你为我的朋友{{#1740723708851.name#}}创作一个古诗，我朋友性别是{{#1740723708851.sex#}}，要求古诗类型是{{#1740723708851.type#}}，古诗主题是{{#1740723708851.subject#}}，不少于{{#1740723708851.number#}}句。其他要求：{{#1740723708851.other#}}！
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1740723740110'
      position:
        x: 381.67698253614856
        y: 282
      positionAbsolute:
        x: 381.67698253614856
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740723740110'
          - text
          variable: output
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1740724894113'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -56.97395676911685
      y: 166.61283780363982
      zoom: 0.8753913296942646
